<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <title>Register</title>
</head>
<body>
<h2>Register</h2>
<form action="/register" method="post">

  <div>
    <label for="username">Username:</label>
    <input type="text" id="username" name="username" required>
  </div>
  <div>
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required>
  </div>
  <div>
    <button type="submit">Register</button>
  </div>
</form>
<div th:if="${registrationError}" th:text="${registrationError}"></div>

</body>
</html>
